*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
    width:100%;
    height: 100vh;
    padding: 5px;
}
header{
    height: 200px;
    width: 100%;
    flex-direction: row;
    background-color: #dfd9d9ec;

    text-align: center;
}
header h1{
    font-size: 77px;
    text-align: center;
    padding-top: 50px;
}
body{
    background-color: rgb(243, 233, 233);

}
.kkk{
    display: flex;
    background: rgb(243, 233, 233);

}
.main{
    width: 100%;
    display: inline-block;
    background: rgb(243, 233, 233);
}
h3{
    margin:20px ;
    font-size: x-large;
}
.main p{
    width: 100%;
    font-size: larger;
    margin-bottom: 20px;
}
img{
    max-height: 500px;
    max-width: 100%;
    height: auto;
    padding: 20px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    flex-direction: row;
    gap:1.0rem;
    padding: 2px;
    justify-content: center;
    width: 35%;
}
.card{
    background-color: #dfd9d9ec;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2) ;
    width:500px;
    height:250px ;
    padding: 3px;
    margin: 15px;

}
.card p{
    padding: 10px;
    margin-top: 10px;
    flex-wrap: wrap;    
}
.card h2{
    margin: 10px;
    font-size: xx-large;
}
@media( max-width:1000px){
    .main{
        flex-direction: column;
        align-items: center;
    }
    .card-container{
        display: flex;
    }
    .card h2{
        margin: 10px;
        font-size: x-large;
    }
    header h1{
        font-size:77px;
    }
}
@media( max-width:800px){
    .main{
        flex-direction: column;
        align-items: center;
    }
    .card-container{
        display: flex;
    }
    .card h2{
        margin: 10px;
        font-size: x-large;
    }
    header h1{
        font-size:77px;
    }
}
@media( max-width:650px){
    .main{
        flex-direction: row;
    }
    .card-container{
        display:flex;
        width: 100%;
    }
    .kkk{
        display: inline;
    }
    .main p{
        margin: 10px;
        padding: 5px;
        width: 100%;
        display: flex;
    }
    header h1{
        font-size:60px;
    }
    .card h2{
        font-size: xx-large;
    }
}

