*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin:0px;
}
.head{
    width: 100%;
    height: 50px;
    margin-top: 11px;

}
.logo{
    color: black;
    font-size: 20px;
    padding: 0 100px;
    margin: 22px;
    margin-top: 100px;
}
.head ul{
    float: right;
    top:0;
    margin-right: 20px;
    width: 400px;
    height: 40px;
}
.head ul li{
    color: black;
    display: inline-block;
    margin: 0 5px;
}
.head a{
    color:black
    font-size: 17px;
    padding: 7px 14px;
    border-radius: 3px;
    text-transform: uppercase;
}
.head a:hover{
    background-color: darkgray;
}
.img img{
    width: 100%;
   max-width: 100%;
   max-height: 500px;
   object-fit: cover;
    height: 400px;
    margin: 9px;
}
.img h4{
    align-items: baseline;
    font-weight: 600;
    font-size: xx-large;
    width: 200px;
    height: 100px;
    z-index: 456;
}
.main{
    display: flex;
    width: 100%;
}
.mainimg{
    display: inline-block;
    width: 50%;
    height: 400px;
    padding: 20px;
}
.mainimg img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.content {
    width: 50%;
    margin: 9px;
}
.content h3{
    font-weight: 900;
    padding-top: 22px;
    font-size: xx-large;
}
.content h3,h5{
    padding: 32px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 9px;
}
.content p{
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    padding: 21px;
    padding-top: 11px;
}
.menu{
    display: flex;
    width: 100%;
    height: 600px;
}
.aynet{
    display: inline-block;
    width: 50%;
    height: 600px;
    padding: 20px;
    margin:.7rem;
}
.aynet h1{
    align-items: center;
    font-size: xx-large;
    font-weight: 900;
    padding: 1.5rem;
    font-size: 44px;

}
.aynet h4{
    font-weight: 600;
    padding: .5rem;
    font-size: 22px;

}
.aynet h6{
    padding: .5rem;
    font-size: 19px;
    font-weight: 100;
}
.abu{
    height: 600px;
    width: 50%;
    margin: 22px;
}
.abu img{
    width:100%;
    height: 550px;
    padding: 35px;
}

.contact{
    height: 800px;
    width: 100%;
    margin: 12px;
    margin:1.3rem;
    margin-top: 8rem;
    display: block;
    border-top:8px black;

}
.contact h1{
    padding: 22px;
    font-weight: 900;
    padding-top: 22px;
    font-size: xx-large;
    align-items: center;
    margin-left: 333px;
}
.contact h4{
    padding: .5rem;
    font-size: 19px;
    font-weight: 100;
    margin: 1.3rem;

}
.contact h4{
    font-weight: 300;
    padding: 1rem;
    font-size: 22px;
    width: 100%;
}
form{
    width: 700px;
    height: 400px;
}
form label{
    padding-top: 11px;
    line-height: 1.5;
  padding: 22px;
  width: 400px;
  font-size: x-large;
}
#fname{
    border-top-style: none;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 33px;
    margin-top: 21px;
}
#calander{
        width: 100%;
    height: 33px;
    margin-top: 21px;
      border-top-style: none;
    border-left: none;
    border-right: none;

}
button{
    margin: 33px;
    width: 120px;
    height: 31px;
    border: none;
    background-color: gray;
}
.page-separator{
    border-bottom: 2px solid darkslategray;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: grey;
    align-items: center;
    bottom: 0px;
}

@media ( max-width:800px){
    .head{
        position: fixed;
        height: 50px;
        background-color: white;
    }
    .logo{
        padding: 0 150px;
        padding-top: 40px;
    }
    .logo ul{
        display:none; 
       }
    .head ul{
        display: none;
    }
    .img h4{
        text-align: center;
        font-size: 27px;
        width: 100%;
    }

    .mainimg{
        display: none;
    }
    .content{
        text-align: center;
        width: 100%;
    }
    .menu{
        display:inline;
        height: 1000px;
        width: 100%;
    }
    .aynet{
        width: 100%;
    }
    .abu{
        width: 100%;
        padding: 9px;
    }
    .contact{
        width: 100%;
        height: 800px;
    }
    .contact h1{
        margin-left: 122px;
    }
    .contact h4{
        margin: 0;
    }
    form{
        width: 80%;
    }
    form label{
        font-size: 15px;
        gap: 12px;
    }
    .mm{
        font-size: 20px;
        width: 100%;
    }
    .abu img{
        width: 90%;

    }

}
