body{
    background-color: #14cc42d6;
    font-family: 'roboto',sans-serif;
}
.signup-box{
    width: 360px;
    height: 500px;
    margin: auto;
    background-color: #f1f8ff;
    border-radius: 3px;
    text-align: center;
}
.login-box{
    width: 360px;
    height: 270px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
}
.login-box h2{
   height: 9px;
   margin: 3px;
text-align: center;
padding-bottom: 4px;

}
.login-box .para-2{
    text-align: center;
    height: 5px;
    margin: 6px;
    padding: 5px;
    display: inline;
}
.login-box label{
    padding-top: 11px;


}
h1{
    text-align: center;
    padding-top: 10px;
}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type=button]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border:none;
    background-color: #49c1a2;
    color:white;
    font-size: 18px;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-2{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}
.para-2 a{
    color: #49c1a2;
}
.name{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.name input{
    width: 100%;
}
.line-container{
    display: flex;
    align-items: center;
    gap: 0;
}
.line{
    width: 300px;
    height: 3px;
    background-color: #000;
}
.text{
    margin: 0 5px;
    white-space: nowrap;
}