* {
    margin:0px;
    padding:0px;
    width:100%;
}
body{
    width: 100%;
}
.container {

    top: 0;
    width: 100%;
    height: 890px;
    background-image: url(./Hajj\ -\ Copy.jpg);
    background-size: contain;

}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: px;
    width: 100%;
    padding: 20px;
    z-index: 1;
    top: 0;
    height: 45px;
}
.title {
    display: flex;
    flex-direction: column;
    margin: 6px;
    color: aliceblue;
}
.links {
    display: block;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    z-index: 1;
    margin: 15px;
    color: rgb(164, 168, 172);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 200px;
    color: white;
}
li {
    margin: 0 10px;
    color: white;
}
.fa-solid fa-kaaba{
    align-items: left;
    color: rgba(238, 167, 101, 0.966);
    width: 4px;

}
i{
    color: white;
    font-size: medium;
    font-weight: 900;
    margin: 5px;
    width: 13px;
}
i{
    color: white;
    font-size: medium;
    font-weight: 900;
    margin: 5px;
    width: 12px;

}
.color {
    color: rgba(238, 167, 101, 0.966);

}
button {
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border-color:rgba(238, 167, 101, 0.966); ;
}
em {
    color: rgb(77, 77, 240);
}
h1.main {
    color: white;
    text-align: center;

}
p.main {
    color: white;
    display: block;
    justify-content: center;
    text-align: center;
    top: 30px;
    font-weight: 100;
    margin: 40px;
    z-index: 5;
}
button.main {
    width: 200px;
    background-color: rgba(238, 167, 101, 0.966);
    color: black;
    text-align: center;
    align-items: center;
    margin-left: 590px;
}
.additional {
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.subtopicc{
    box-shadow: 2px 2px 2px;
    width: 100%;
}
.subtopic {
    display: inline;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border: black;
    box-sizing: border-box;
}
img {
    display: inline-block;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 200px;
    height: 150px;
    margin: 20px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 1px 2px 2px;

}
.text {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    gap: 180px;
    height: 100px;
    width: 100px;
    padding: 40px;
    padding-top:10px ;
    margin: 40px;
    margin-top: 0px;
    box-shadow: 1px 2px 2px;

}
@media(max-width:500px){
    .links{
        display: none;
    }
}