*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
       width: 100%;
    height: 100vh;
        justify-content: space-between;
    background-image: url('./SnapFolio/photo-city.jpg');
    filter:brightness(50%);
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('./SnapFolio/photo-city.jpg');
    filter:brightness(50%);
    background-size: cover;
    padding: 20px;
}
header{
    position: fixed;
    top:0;
    left: 0;
     width: 100%;
    display: flex;
    justify-content: space-between;
     align-items: center;
     z-index: 1;
    }

.block a{
    position: relative;
    font-size: 15px;
    color:rgb(227, 222, 233);
    text-decoration: none;
    font-weight: bolder;
    margin-left: 40px;
    margin-right: 30px;
    z-index: 1;
    width: 22px;
}
.block a:hover{
    background-color:rgb(177, 248, 209) ;
    color:black;
}
h1{
    margin: 20px;
    text-align: left;
    top: 0px;
    left: 0px;
    color:white;
    padding: 10px;
}
em{
    color:rgba(255, 255, 0, 0.795)
}
.block h3{
    display: flex;
    justify-content: flex-end;
    color: wheat;
 padding: 20px;
 margin: 20px;
 width: 200px;
 height: 50px;
 word-spacing: 8px;
 position: absolute;
 top: 0px;
 right: 0px;
 
}
.center{
    text-align: center;
    margin: auto;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:33px;
    top: 40px;
    font-weight: bold;
    color:white;
    flex-direction:column;
}
.center .uuu{
    margin-bottom: 5px;
    margin-top: 0;
    align-items: center;
}
.button {
-    border: 90px;
    background-color: #ffff;
    border-radius: 50px;
    text-align: center;
    padding:10px 5px;
    width: 200px;
    color: rgb(10, 10, 1);
    font-size: 1.4em;
    
}
.button:hover{
    color: rgb(243, 243, 243);
    background-color:rgb(131, 131, 3) ;
}
strong{
    color: rgb(15, 187, 187);
}

